[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chromonad/lib/forge-std"]
	path = chromonad/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chromonad/lib/openzeppelin-contracts"]
	path = chromonad/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
